header {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: inset 0px -10px 5px rgba(122, 255, 104, 0.1); /* box shadow adjust with next section */
}

#header-content--wrapper {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}

#header-content--left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 4rem;
}

#header-content--right {
  display: flex;
  align-items: center;
}
#header-content--right img {
  height: 500px;
}

header h1 {
  font-size: 4em;
  font-family: sans-serif;
  color: var(--text2);
}

header h2 {
  font-size: 2em;
  color: var(--blue1);
}

header #break-line {
  width: 150px;
  height: 15px;
  background-color: var(--blue2);
  margin: 2rem 0 1.25rem 0;
  border-radius: 0px 15px;
}

header p {
  color: var(--text1);
  font-size: 1.2em;
}
