@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  --dark1: #212121;
  --dark2: #323232;
  --blue1: #0d7377;
  --blue2: #14ffec;
  --text1: #fff;
  --text2: #dafffc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
}

body {
  height: 100vh;
  background-color: var(--dark1);
}