#navbar {
  margin-top: 2rem;
  width: 90%;
  background-color: var(--blue1);
  border-radius: 1rem;
}

#navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

#navbar li {
  padding: 1.5rem 2.5rem;
}

#navbar a {
  text-decoration: none;
  font-size: 1.35em;
  color: var(--text2);
}

#navbar a:hover {
  color: var(--dark2);
  transition: all 0.2s ease-in-out;
}